.user-card-container {
  width: 250px;
  height: 100%;
  background-color: var(--dark-blue);
  border-radius: 15px;

  .user-card {
    background-color: var(--primary-blue);
    padding: 1.5rem;
    border-radius: 15px;
    color: var(--text-primary);
    height: 300px;
    .avatar-container {
      margin-right: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      height: 4rem;
      overflow: hidden;
      border-radius: 50%;
      border: 1.5px solid white;
      .avatar {
        width: 4rem;
        height: 4rem;
      }
    }

    p {
      font-size: 0.6rem;
      padding: 0.9rem 0;
    }
    h2,
    p {
      font-weight: 300;
    }
  }
  .timeframe-options {
    align-items: center;
    padding: 0 1rem;
    color: var(--text-primary);
    .btn-container {
      display: grid;
      margin-top: 1rem;
      button {
        background: none;
        text-align: start;
        padding: 0.5rem;
        border: none;
        text-transform: capitalize;
        color: var(--text-secondary);
        cursor: pointer;
        font-size: 0.9rem;
        transition: 0.3s;
        &:hover {
          color: var(--text-hover);
        }
      }

      .active {
        color: var(--text-primary);
      }
    }
  }
}

@media (max-width: 877px) {
  .user-card-container {
    width: 100%;
    .user-card {
      height: 90px;
      display: flex;
      align-items: center;
      p {
        padding: 0 !important ;
      }
      .user-title {
        display: flex;
      }
    }
    .btn-container {
      display: flex !important;
      justify-content: space-between;
      margin-top: 0.8rem !important;
      margin-bottom: 0.8rem;
    }
  }
}
