.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.3rem;
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

.cards {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 1.3rem;
}
